:root {
    --primary-color: #6c5ce7;
    --secondary-color: #a29bfe;
    --accent-color: #fd79a8;
    --text-color: #2d3436;
    --light-bg: #dfe6e9;
    --dark-bg: #2d3436;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    background-color: var(--light-bg);
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

h2 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input, select {
    margin: 5px 0;
    padding: 0.8rem;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    box-sizing: border-box; /* Ensure padding and border are included in width/height */
}

input:focus, select:focus {
    border-color: var(--primary-color);
    outline: none;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: var(--secondary-color);
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

li {
    background: var(--light-bg);
    margin: 10px 0;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.expense-box {
    display: flex;
    width: 100%;
}

.expense-info {
    flex: 3; /* 75% */
    padding: 15px;
}

.remove-btn-container {
    flex: 1; /* 25% */
    background: rgb(63,168,251);
    background: linear-gradient(90deg, rgba(63,168,251,1) 0%,     rgba(108,92,231,1) 100%);
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.remove-btn {
    background: rgb(63,168,251);
    background: linear-gradient(90deg, rgba(63,168,251,1) 0%,     rgba(108,92,231,1) 100%);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
}

.remove-btn:hover {
    background-color: var(--primary-color);
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.sort-options select {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.sort-options select:focus {
    border-color: var(--primary-color);
    outline: none;
}
